---
import SiteHead from '../components/SiteHead.astro'
import SnipcartHead from '../components/SnipcartHead.astro'

import Navbar from '../components/Navbar.astro'
import Separator from '../components/Separator.astro'
import Banniere from '../components/Banniere.astro'
import Caroussel from '../components/Caroussel.astro'
import CarousselPhotos from '../components/CarousselPhotos.astro'
import AlbumOrder from '../components/AlbumOrder.astro'
import IconBar from '../components/IconBar.astro'
---

<html class="h-full bg-slate-700" lang="fr">
  <head>
    <SiteHead />
    <SnipcartHead />
  </head>
  <body class="h-full">
    <div
      id="order"
      class="flex flex-col h-screen bg-gradient-to-bl from-slate-900 to-blue-900"
    >
      <Navbar class="flex-grow" />

      <AlbumOrder class="flex-grow" />
    </div>

    <Separator />

    <div
      id="carousel"
      class="flex flex-col h-screen bg-gradient-to-br from-red-900 to-yellow-900"
    >
      <Caroussel class="flex-grow" client:visible />
      <!-- <Banniere /> -->
    </div>

    <Separator />

    <div
      id="photos"
      class="flex flex-col h-screen bg-gradient-to-tl from-green-900 to-blue-900"
    >
      <CarousselPhotos class="flex-grow pt-2" />
    </div>
    <IconBar />
  </body>
</html>
