---
import SiteHead from "../components/SiteHead.astro";
import SnipcartHead from "../components/SnipcartHead.astro";

import Navbar from "../components/Navbar.astro";
import Separator from "../components/Separator.astro";
import Banniere from "../components/Banniere.astro";
import CarousselPhotos from "../components/CarousselPhotos.astro";
import AlbumOrder from "../components/AlbumOrder.astro";
---
<html lang="fr">
  <head>
    <SiteHead />
    <SnipcartHead />
  </head>
  <body class="bg-slate-800">
    <Navbar />

    <AlbumOrder />

    <Separator />

    <iframe class="container" style="padding: 3rem;" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Hn5bNBXJKxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <Banniere /> -->

    <Separator />

    <CarousselPhotos />
  </body>
</html>
