---
import SiteHead from '../components/SiteHead.astro'

import Navbar from '../components/Navbar.astro'
import Separator from '../components/Separator.astro'
import Banniere from '../components/Banniere.astro'
import CarousselPhotos from '../components/CarousselPhotos.astro'
import AlbumOrder from '../components/AlbumOrder.astro'
---

<html lang="fr">
  <head>
    <SiteHead />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.0.0/css/all.css"
    />
  </head>
  <body class="bg-slate-800">
    <Navbar />

    <AlbumOrder />

    <Separator />

    <Banniere />

    <Separator />

    <CarousselPhotos />
  </body>
</html>
