---
---

<div class="h-full flex flex-col items-center justify-center md:flex-row">
  <img
    class="object-cover h-1/2 md:mx-24"
    src="/assets/pochette.jpg"
    alt="banniere"
  />
  <div class="flex flex-col justify-center items-center md:mx-24">
    <p class="text-white mb-5 font-extrabold">BURN-OUT EP</p>
    <button
      class="bg-green-700 p-2 text-gray-100 snipcart-add-item rounded-full"
      data-item-id="starry-night"
      data-item-price="15.00"
      data-item-description="Le 1er Album du groupe O'Burn"
      data-item-image="/assets/pochette.jpg"
      data-item-name="O'BURN Burn-out">Commander</button
    >
  </div>
</div>
