---
---

<div class="flex flex-col items-center md:flex-row md:justify-center">
  <img
    class="object-contain h-80 my-5"
    src="/assets/pochette.jpg"
    alt="pochette"
  />
  <div class="md:flex md:flex-col">
    <p class="text-white mb-5 md:m-5">BURN-OUT EP</p>
    <button
      class="bg-green-700  p-1 md:m-5 text-gray-100 mb-5 snipcart-add-item"
      data-item-id="starry-night"
      data-item-price="{('eur': 15.0)}"
      data-item-url="/albums/burn-out"
      data-item-description="Le 1er Album du groupe O'Burn"
      data-item-image="/assets/pochette.jpg"
      data-item-name="O'BURN Burn-out">Commander</button
    >
  </div>
</div>
