---
---

<div class="h-full flex flex-col md:flex-row items-center justify-around">
  <img
    class="object-contain h-52 md:h-96 min-h-0 min-w-0"
    src="/assets/axel_chante.jpg"
    alt="axel_chante"
  />
  <img
    class="object-contain h-52 md:h-96 min-h-0 min-w-0"
    src="/assets/axel_chante.jpg"
    alt="axel_chante"
  />
  <img
    class="object-contain h-52 md:h-96 min-h-0 min-w-0"
    src="/assets/axel_chante.jpg"
    alt="axel_chante"
  />
</div>
