---
---

  <!-- The social media icon bar -->
<div class="icon-bar">
  <a href="https://www.facebook.com/oburnofficiel" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/oburn_officiel/" class="instagram"><i class="fa fa-instagram"></i></a>
  <a href="https://soundcloud.com/user-444559436" class="soundcloud"><i class="fa fa-soundcloud"></i></a>
  <a href="https://www.youtube.com/channel/UCTftO46ZmxiwN4L53K3CEAQ" class="youtube"><i class="fa fa-youtube"></i></a>
</div>

<style>
 /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
 .facebook:hover {
  background-color: #3B5998;
  color: white;
}

 .instagram:hover {
  background-color: #833ab4;
  color: white;
}

 .soundcloud:hover {
  background-color:  #FE5000;
  color: white;
}

 .youtube:hover {
  background-color: #bb0000;
  color: white;
}
</style>
