---
const { title = "O'BURN" } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>

<link global rel="stylesheet" href={Astro.resolve("../styles/global.css")} />
