---
const { title = "O'BURN" } = Astro.props
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>

<style global>
  @import '../styles/global.css';
</style>
