---
---

<link rel="preconnect" href="https://app.snipcart.com" />
<link rel="preconnect" href="https://cdn.snipcart.com" />
<link
  rel="stylesheet"
  href="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.css"
/>

<script
  hoist
  async
  src="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.js"></script>
<div
  id="snipcart"
  data-config-modal-style="side"
  data-api-key="OTY3OWViZDMtZjg5ZC00OGFiLTk1NjAtMGU2YWUwNjViMDQzNjM3ODAxODEwMzI4MTY5NDUx"
  hidden
  data-currency="eur"
>
</div>

<style global>
  @import "../styles/snipcart-dark.css";
</style>
